@use "sass:color";

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: $border-radius;
  border: 1px solid transparent;
  transition: all $transition-fast;

  &-primary {
    color: #fff;
    background-color: $primary;
    border-color: $primary;

    &:hover {
      background-color: color.adjust($primary, $lightness: -10%);
      border-color: color.adjust($primary, $lightness: -10%);
    }
  }

  &-secondary {
    color: #fff;
    background-color: color.adjust($secondary, $lightness: -10%);
    border-color: color.adjust($secondary, $lightness: -10%);

    &:hover {
      background-color: color.adjust($secondary, $lightness: -10%);
      border-color: color.adjust($secondary, $lightness: -10%);
    }
  }

  &-danger {
    color: #fff;
    background-color: $danger;
    border-color: $danger;

    &:hover {
      background-color: color.adjust($danger, $lightness: -10%);
      border-color: color.adjust($danger, $lightness: -10%);
    }
  }

  &-success {
    color: #fff;
    background-color: $success;
    border-color: $success;

    &:hover {
      background-color: color.adjust($success, $lightness: -10%);
      border-color: color.adjust($success, $lightness: -10%);
    }
  }
}