@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-style: normal;
  src: url("@/assets/fonts/ibm-plex/IBMPlexSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-weight: 400;
  font-style: normal;
  src: url("@/assets/fonts/ibm-plex/IBMPlexMono-Regular.ttf") format("truetype");
}